span {
  margin: 25px 25px 25px 25px;
}

.grey {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}
.item {
  float: left;
  margin-right: 25px;
}
.skill-img {
  float: left;
  width: 150px;
  height: 75px;
}
.clearing {
  clear: both;
}

#hero-image {
  float: left;
}
.skills-list {
  list-style-type: none;
}